@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;	
}

#main {
	width:auto;
	height:auto;
}

#content {
	width:600px;
	height:800px;
	margin: 0 auto;
}

#fundo {
	width:600px;
	height:800px;
	background-image:url(http://jmimobiliaria.com.br/email/textura_fundo.png);
	background-color:#3553a4;
	overflow:auto;
}

#fundo_texto {
	width:513px;
	height:554px;
	background-image:url(http://jmimobiliaria.com.br/email/fundo_texto.png);
	margin: 120px 0 0 45px;	
	display:inherit;
	opacity: 0.95;
    filter: alpha(opacity=40); /* For IE8 and earlier */
	padding-top:30px;
	background-repeat:no-repeat;
}

#logo {
	width:249px;
	height:118px;
	margin:0 auto;
}

#texto {
	width:450px;
	height:100px;
	margin:30px 0 0 30px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:20px;
	text-align:justify;
}

#botao {
	width:190px;
	height:81px;
	margin:0 auto;
	padding-top:40px;
}

#texto_rodape {
	width:450px;
	height:30px;
	margin:50px 0 0 50px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:20px;

}

#texto_rodape span{
	width:450px;
	height:30px;
	margin:0 0 0 -20px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:14px;
	text-align:center;
	display:block;

}
