/* Banner Destaque */
.banner-destaque{
	padding: 40px 0;
	.headline{
		@include titulo;
	}
	.carousel{
		margin-top: 30px;
	}
}
@include media-breakpoint-down(sm){
	.banner-destaque{
		display: none;
	}
}