/* Imovel destaque*/
.imovel-destaque{	
	background-color: lighten($brand-primary, 45%); 
	padding: 60px 0;
	.container{
		padding: 0;
	}
	.carousel-caption{
		background-color: $white;
		right: 2%;
		left: 45%;
		padding: 15px;
		text-align: left;
		color: $gray-dark;
		.end-imovel{
			font-size: 1.1rem;
			font-weight: 700;
			margin-bottom: 0;
		}
		.finalidade{
				font-size: 1rem;
				margin-bottom: 0;
				color: $brand-primary;
				font-weight: 600;
			}
		.value{
			color: $brand-primary;
			font-weight: 700;
			font-size: 1.9rem;
			display: flex;
			justify-content: space-between;
			margin-bottom: 0;					
			.service{			
				a{	
					font-size: 1rem;					
					color: $gray-light;
					font-weight: 600;
					text-decoration: none;
					margin-left: 15px;						
				}				
			} 			
		}
		.nav {
			display: flex;
			justify-content: space-between;
			border: 1px solid $gray-lighter;
			.nav-item{
				font-family: "Segoe UI";
				font-weight: 600;
				border-left: 1px solid $gray-lighter; 
				padding: 10px 20px;
				&:first-child{
					border-left: 0;
				}
				.fa{
					margin-right: 10px;
				}	
			}
		}		
	}
	.carousel-control-prev, 
	.carousel-control-next{
		bottom: auto;
		margin-top: 230px;
	}
	
	

	@include media-breakpoint-down(lg){
		.carousel-caption{
			left:38%;
		}
	}
	@include media-breakpoint-down(md){
		.carousel-caption{
			left:20%;
		}
	}	
}

.border-top-primary{
	@include border-top($brand-primary, 45%);
	margin-top: -95px;
}
.border-bottom-primary{
	@include border-bottom($brand-primary, 45%);	
}


@include media-breakpoint-down(sm){
	.imovel-destaque{
		display: none;
	}
	.border-top-primary{
		display: none;
	}
	.border-bottom-primary{
		display: none;
	}
}