.locacao{
	background-color: lighten($brand-secondary, 33%);	
	@include carousel-imoveis-destaques($brand-primary);
}

@include media-breakpoint-down(xs){
	.locacao{
		padding: 0;
	}
}

.border-top-secondary{
	@include border-top($brand-secondary, 33%);
}
.border-bottom-secondary{
	@include border-bottom($brand-secondary, 33%); 
}