/* Nav Tab */
.section-busca{
	background-color: $white;
	padding:0;
	z-index: 10;
	.tab-content{
		padding: 30px 20px;
		.form-group{
			margin-bottom: 0;
			.btn{
				font-size: 1.2rem;
			}
		}
	}

	@include media-breakpoint-down(xl){ 
		.input-codigo{
			@include make-col(9);
		}
		.btn-codigo{
			@include make-col(3);
		}
	}

	@include media-breakpoint-down(md){
		.tab-content .form-group{
			margin-bottom: 15px;
		}
		.col{
			@include make-col(6);		
		}
		.input-codigo{
			@include make-col(8);
		}
		.btn-codigo{
			@include make-col(4);
		}
	}

	@include media-breakpoint-down(sm){
		.nav-tabs .nav-item{
			margin-left: 1px;
			border-radius: 0;
			.nav-link{					
				text-align: center;
				border-radius: 0;				
			}			
			
		}
	}

	@include media-breakpoint-down(xs) { 
		.nav-tabs .nav-item{
			margin-left: 0;
			.nav-link{
				font-size: .8rem;
			}
		} 		
		.col{
			@include make-col(12);
		}
	}
}
@include media-breakpoint-up(lg){
	.section-busca{
		margin-top: -30px;
	}
}
@include media-breakpoint-down(xs){
	.section-busca{
		padding: 0 15px;
	}
}






