.servicos{	
	padding: 50px 0;
	background-color: $gray-lightest;
	margin-top: 30px;
	.servicos-header{		
		.fa{
			position: absolute;
			border: 1px solid $gray-light;
			border-radius: 50% 50%;
			font-size: 2.5rem;
			padding: 32px 30px;
			width: 109px;
			height: 109px;	
			text-align: center;				
		}
	}		
	.headline{
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.1rem;	
	}
	.text-servico{
		color: $gray-light;
		font-family: 'Poppins', sans-serif;
		font-size: .9rem;
		line-height: 1.2;
		text-align: justify;
	}	
	.headline, .text-servico{
		margin-left: 125px;
	}	

	.col .nav-link{
		color: $gray-dark;		
		padding: 0 0 50px;
		max-height: 140px;
		&:hover{			
			border-bottom: 8px solid lighten($brand-primary, 20%);
			@include transicao(.3s);
			cursor: pointer;	
			.fa{
				@include transicao(.3s);	
				background-color: lighten($brand-secondary, 20%);			
				color: $white;
				border-color: lighten($brand-secondary, 20%);	
			}
		}
	}

	.active{		
		.fa{
			background-color: $brand-secondary;
			color: $white;
			border-color: $brand-secondary;			
		}
		.nav-link{
			border-bottom: 8px solid $brand-primary;			
			&:hover{
				border-bottom: 8px solid $brand-primary;
				.fa{
					background-color: $brand-secondary;
				}
			}
		}
	}

	@include media-breakpoint-down(xl){
		.col{
			@include make-col(4);
		}
	}
	@include media-breakpoint-down(lg){
		.text-servico{
			font-size: .8rem;
		}
	}
	@include media-breakpoint-down(md){
		.col{
			@include make-col(12);
			.nav-link{
				height: 140px;
				max-height: 140px;
				margin-bottom: 15px;
			}
		}
	}
}
