.centro{
width:990px;
height:auto;
margin:auto;
position:relative;
background-image:url(../Images/bg.jpg);
background-repeat:repeat-y;
display:table;

}
.esquerda{
width:216px;
height:auto;
float:left;
}

.logo{
width:216px;
height:197px;
background-image:url(../Images/logo.jpg);
float:left;


}

.menu{
clear:both;
float:left;
width:216px;
height:auto;

}

.enquete{
float:left;
clear:both;
width:216px;
height:267px;
background-image:url(../Images/enquete.jpg);
background-repeat:no-repeat;



}

.direita{
float:left;
width:774px;
height:auto;


}

.banner{
width:774px;
height:196px;
background-image:url(../Images/banner.jpg);

}

.busca{
clear:both;
background-image: url(../Images/buscaerestrita.jpg);
width:774px;
height:178px;}


.destaquesimo{
width:774px;
height:auto;
clear:both;
position:relative;


}

.destalancamentos{
width:774px;
height: auto;
clear:both;
position:relative;}


.lanca{
width:364px;
height:189px;
margin-left:20px;
 border:solid 1px #adb9c2;
 float:left;


}