BODY {
	background-color: #FFFFFF;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
}

#BORDA {
	border: 1px #444444 solid;
}

#MARGEM_CELULA {
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 1px;
	padding-top: 1px;
}

#ARIAL_ITALICBOLD {
	font-family : Arial, Verdana;
	font-weight : bold;
	font-style : italic;
	color : #000000;
}

#VERDANA_BOLD {
	font-family : Verdana, Arial;
	font-weight : bold;
	color : #000000;
}

#VERDANA_NORMAL {
	font-family : Verdana, Arial;
	font-weight : normal;
	color : #000000;
}

#ARIAL_BOLD {
	font-family : Arial, Verdana;
	font-weight : bold;
	color : #000000;
}

#ARIAL_ITALIC {
	font-family : Arial, Verdana;
	font-weight : normal;
	font-style : italic;
	color : #000000;
}

#ARIAL_NORMAL {
	font-family : Arial, Verdana;
	font-weight : normal;
	color : #000000;
}

#COURIER_BOLD {
	font-family : Courier New, Courier, Arial, Verdana;
	font-weight : bold;
	color : #000000;
}

#COURIER_NORMAL {
	font-family : Courier New, Courier, Arial, Verdana;
	font-weight : normal;
	color : #000000;
}

.F06 { font-size : 6px; }
.F07 { font-size : 7px; }
.F08 { font-size : 8px; }
.F09 { font-size : 9px; }
.F10 { font-size : 10px; }
.F11 { font-size : 11px; }
.F12 { font-size : 12px; }
.F13 { font-size : 13px; }
.F14 { font-size : 14px; }
.F15 { font-size : 15px; }
.F16 { font-size : 16px; }
.F18 { font-size : 18px; }
.F20 { font-size : 20px; }
.F22 { font-size : 22px; }

.imprimir { 	padding-top: 5; margin-right: 5; margin-left: 0; margin-bottom: 0; }
a { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #777777; text-decoration: none; }
a:hover { text-decoration: underline; }