.body_ {
	background-color: #f2f2f2;
	cursor: default;
	overflow: hidden;
	margin: 0px;

}
body {
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-left: 0px;
}
#calculadora {
	background-color: #e6e6e6;
}


#menu_barra th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFF  ;
	vertical-align: top;
	padding-top: 5px;
	text-align: center;
	padding-left: 5px;
	cursor: pointer;
	width: 90px;
}
#miolo {
	text-align: center;
}



#menu_barra {
	background-image: url(../images/m_5.gif);
	background-repeat: repeat-x;
	height: 29px;
}


* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	
}
.menu_verde {
	position: absolute;
	margin-top: 19px;
	width: 150px;
	background-color: #CCC;
	padding: 3px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	margin-left: -16px;
}
#user {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #28166F;
}

#menu_barra td {
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: top;
}


.menu_verde ul {
margin: 0;
padding: 0;
list-style-type: none;
}

.menu_verde li a{
	display: block;
	padding: 3px 0;
	padding-left: 9px;
	width: 135px;
	text-decoration: none;
	color: #000000;
	border-bottom-width: 1px;
	border-left-width: 7px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #F00;
	border-left-color: #F00;
	text-align: left;
}

* html .menu_verde li a{ /*IE only */
width: 100%; /*IE 5*/
}

.menu_verde li a:hover {
	background-color: #FFFFFF;
	color: #000000;
}

.mouse {
	cursor: pointer;
}#topo {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}
#calculadora_ {
	right: 10px;
	position: absolute;
	margin-top: 40px;
}
