.style1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.style9 {font-family: Arial, Helvetica, sans-serif; font-size: xx-small; font-weight: bold; }
.style10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.style12 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; }
.style14 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #000099; }
.style18 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000099;
	font-style: italic;
}