body {
    min-height:100%;
    margin:0;
    padding:0;
	background-image:url(../images/back.jpg);
    background-repeat: repeat-x;
	

    
 }
 
.container{
width:990px;
height: auto;
margin:auto;
background-color: #FFFFFF;
background-image:url(../images/bg_geral.jpg);
background-repeat:repeat-y;
position:relative;

}

.topo{
width:990px;
height:80px;
clear:both;
position:relative;


}

.menu{
width:990px;
height:76px;
clear:both;
position:relative;
z-index:100;




}

.bt_menu{
width:115px;
height:45px;
margin-top:13px;
cursor:pointer;
float: left;

}

.barrinha_menu{
width:98px; height:5px; background-color:#CC0000;
_font-size:2px;

}

.barrinha_menu:hover{

width:98px; height:5px; background-color: #F31B2B;
}
.logo{
background-image:url(../Images/logo.jpg);
_background-image:url(../Images/logo.gif);
background-position:top left;
background-repeat:no-repeat;
z-index:200;
width:288px;
height:151px;
position:absolute;
left:-1px;


}

.barra_menu{
width:700px;
height:76px;
float:right;


}


.btmenu{
height:44px;
position:relative;
float:left;
line-height:44px;
text-align:center;
background-image:url(../images/bgmenu.jpg);
border-left:solid 1px #bcbec0; 
border-right:solid 1px #bcbec0;
font-weight:bold;
_cursor:pointer;
}

.btmenu:hover{

background-image:url(../images/bgmenuover.jpg);
cursor:pointer;
line-height:30px;

}



.central{
width:990px;
height: auto;
float:left;
border-left:solid 1px #D1E3E7;
border-right:solid 1px #D1E3E7;
display:table;

}


.barra_menu_lateral{
width:239px;
height:auto;
background-color:#e3e7ea;
float: left;


}

.destaques{
width:751px;
height:auto;
float:left;

}

.atendimento{
width:236px;
height:66px;
background-image:url(../Images/atendimento.jpg);
clear:both;
}

.banner{
width:990px;
height:266px;
clear:both;
position:relative;



}

.img_banner{
width:636px;
height:266px;
background-image:url(../Images/banner.jpg);
float:left;



}

.busca{
width:354px;
height:266px;
background-repeat:no-repeat;
background-image:url(../Images/busca.jpg);
float:left;



}


.corpo{
width:990px;
height:auto;

}

.indicadores{
width:225px;
height:94px;
margin:auto;
background-image:url(../Images/indicadores.jpg);
cursor:pointer;
clear:both;



}


.simulador{
width:225px;
height:94px;
margin:auto;
background-image:url(../Images/simulador.jpg);
cursor:pointer;
clear:both;


}

.news{
width:225px;
height:75px;
cursor:pointer; 
clear:both;
background-image:url(../Images/news.jpg);
margin:auto;
}

.login{
width:219px;
height:143px;
margin:auto;
clear: both;
background-image:url(../Images/login.jpg);




}
.enquete{
width:225px;
height:65px;
cursor:pointer; 
clear:both;
background-image:url(../Images/enquete.jpg);
margin:auto;
}

.espaco{
height:15px;

}
.rodape{
width:100%;
height:30px;
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size:13px;
color: #E11D00;
font-weight:bolder;
text-align:center;
font-style:italic;
clear:both;
background-color:#999999;
line-height:30px;



}


