
/* ----------INDEX----------- */

.imob-section-index{
	background: url(../images/background.jpg);
	padding: 5%;	
}

.imob-tit-index{
	font-family:"SegoePrint"; 
	font-size: 2.4em;
	margin-bottom: 20px;
	color: #4d4d4d;
}


@media screen and (max-width:320px) { 
	.imob-tit-index{
		font-size: 1.9em;			
	}
}

.imob-btn-index{
	display: inline-block;
	text-align: center;
	padding: 1.2rem;
	border-radius: 5px;
	width: 100%;	
	background-color: #931913;
	color: #fff;
	font-family: "Gothic";
	font-size: 1.2em;
}

@media screen and (min-width:320px) and (max-width:1199px) { 
	
}

@media screen and (max-width:320px) { 
	.imob-btn-index{
		font-size: 1em;
		width: 110px;							
	}

	.btn-aluga-index{
		margin-left: 0;		
	}

	.btn-compra-index{
		float: right;
		margin-right: 9px;
	}
}

@media screen and (min-width:2560px) { 
	#frmBuscaMap table td {
		border-bottom: medium none;
		padding: 0;
	}
	#frmBuscaMap input, textarea, select, fieldset {
		margin-bottom: 0;
	}
	#frmBuscaMap input, select {
		height: 30px;
		padding: 8px;
		width: 158px;
	}
	.btn {
		background: red linear-gradient(to bottom, red, #b30606) repeat scroll 0 0;
		border-radius: 3px;
		color: #fff;
		font-family: Arial;
		font-size: 14px;
		padding: 3px 22px 8px 13px;
		text-decoration: none;
	}
	.btn:hover {
		background: #3cb0fd linear-gradient(to bottom, #3cb0fd, #3498db) repeat scroll 0 0;
		text-decoration: none;
	}

	.imob-btn-index{
		font-size: 1em;
		width: 110px;							
	}

	.btn-aluga-index{
		margin-left: 100px;		
	}

	.btn-compra-index{
		text-align: left;
		margin-right: 9px;
	}
}

.imob-btn-index:hover,
.imob-btn-index:focus{
	color: #fff;
	text-decoration: none;	
	background-color: #333;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

#imob-footer-index{
	background-color: #666; 
	color:#fff; 
	padding:45px 30px; 
	margin-bottom: 0;	
	font-family: "Calibri";
}

@media screen and (max-width:320px) { 
	#txt-end{
		text-align: center;
		margin: 0 12px;			
	}
}

@media screen and (max-width:320px) { 
	#txt-contato{
		text-align: center;
		margin: 0 40px;			
	}
}

.imob-social{
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
	padding: 1px 3px;
	border-radius: 3px;
}

.imob-social:hover,
.imob-social:focus{
	color:#333;
	border-color: #333;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

/* ---------- ALUGA  ----------- */

.imob-section{
	background: url(../images/background.jpg);
	padding: 20px 0 10px;
	font-family: "Calibri";
	box-shadow: 1px 2px 30px rgba(0, 0, 0, .5);
}

.navbar{	
	background-color: #931913;	
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-brand{
	margin-top: -6px;
}

.navbar-default .navbar-toggle{
	border: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
	background-color: #692B2C !important;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s; 
}

.icon-bar{	
	background-color: #fff !important;
}

#imob-navbar{
	padding: 0;
}

@media screen and (max-width:767px) { 
	#imob-navbar{
		padding-left: 15px;		
	}
}

#imob-navbar a{
	color: #fff;
	font-family: "Gothic";
}


#imob-navbar a:hover{  
	background-color: #692B2C;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s; 
}

.imob-idioma{
	float: right;
	margin-top: 6px;	
	cursor: pointer;
}

@media screen and (max-width:767px) { 
	.imob-idioma{
		float: left;
		margin:15px 15px 15px 0;		
	}
}

@media screen and (max-width:991px) { 
	.imob-idioma{
		margin-top: 12px;		
	}
}

.imob-btn-chat{
	background-color: #692B2C;
	border: none;	
	font-size: 1.3em;
	padding-left: 25px;
	padding-right: 33px;
	margin-left: 10px;	
}

.imob-btn-chat:hover{
	background-color: #4B4B4D !important;
}

.imob-btn-chat img{
	margin:0 15px;		
}

.imob-contato-header{
	padding-left: 0px;
}

.imob-contato-header p{
	text-align: right;
}

#imob-contato-whatsapp{
	font-size: 1.7em; 
	color: #373435;
	font-family:'Arial'; 
}

#imob-faleconosco{	
	color: #727376; 
	font-size: 1.6em; 	
	margin-bottom:0;
	margin-right: 112px;
}

#imob-fone{
	font-size: 3.2em;	
	color: #931913; 
	margin-top:-15px
}

@media screen and (max-width:480px) { 
	.imob-idioma{
		margin-top: 12px;		
	}
}

@media screen and (min-width:320px) and (max-width:767px) { 
	#imob-contato-whatsapp{
		font-size: 1.2em;
		margin-bottom: 0;						
	}

	#imob-faleconosco{
		font-size: 1.4em;
		margin-right: 55px;		
	}

	#imob-fone{
		font-size: 2.2em;	
		margin-top:-15px
	}
}

.imob-row{
	margin-right: 0;
	margin-left: 0;
}

.imob-busca,
.imob-busca-todos{
	border-radius: 8px;
	border: 2px solid #727376;
	margin-top: 5px;	
	color: #727376;
}

.imob-busca h4,
.imob-busca-todos h4{	
	font-family: "Calibri Bold Italic";
	font-size: 1.6em;	
}

@media screen and (min-width:1200px) { 
	.imob-busca-todos{		
		padding-right: 50px;
	}
}

.imob-busca a,
.imob-busca-todos a{
	text-decoration: none;
	color: inherit;
}

.imob-busca-map,
.imob-quero-comprar{
	background-color: #727376;	
}

@media screen and (max-width:428px) { 
	.imob-busAluga{		
		padding-left: 0;
		padding-right: 0;
		font-size: 0.77em;
	}

	.imob-quero-comprar{
		font-size: 0.7em;	
		padding-left: 0; 	
	}
}

.imob-busca-map a,
.imob-quero-comprar a{	
	color: #fff;	
}

.imob-form{
	margin-top: 15px;
}

.form-control{
	color: #777 !important;
}

::-webkit-input-placeholder {
   color: #777 !important;   
}

:-moz-placeholder {
   color: #777 !important;   
}

::-moz-placeholder {
   color: #777 !important;   
}

:-ms-input-placeholder {  
   color: #777 !important;   
}

.imob-btn-form{
	background-color: #931913;
	color: #fff;
	border: none;
	width: 100%;
	padding: 17px;
}

.btn-default{
	color: #777;
	cursor: inherit;
}

.imob-btn-form:hover{	
	background-color: #692B2C;
	color: #fff;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

@media screen and (min-width:320px) and (max-width:991px) { 
	.imob-btn-form{
		padding: 08px;						
	}	
}

.imob-carousel-indicators{
	bottom: -40px;
	right: 0;
	left: inherit;
	width: 100%;
	text-align: right;
	border-bottom: 2px solid #848688;
}

.imob-carousel-indicators li{
	border: none;
	border-radius: 0;
	background-color: #848688;
	width: 14px;
	height: 14px;
	margin: 2px;
}

.imob-carousel-indicators .active{	
	background-color: #931913;
	width: 14px;
	height: 14px;
	margin: 2px;
}

.imob-redes-banner ul{
	padding: 5px 10px;
}

.imob-redes-banner ul li{
	list-style: none;
	display: inline-block;
	margin: 0 5px;	
}

.imob-redes-banner a{
	color: #727376;
	display: inline-block;
	border: 1px solid #727376;
	padding:4px 8px;
	border-radius: 5px;	
}

.imob-redes-banner a:hover{
	color: #444445;	
	border-color: #444445;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.imob-redes-footer a:hover{
	color: #fff;	
	border-color: #fff;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.imob-section-carousel{
	padding: 20px 0 10px;
	font-family: "Calibri";				
}

.imob-destLocacao h4{
	background-color: #931913;
	color: #fff;	
	font-family:SegoePrint; 
	font-size: 1.5em;
	padding: 10px;
}

@media screen and (max-width:991px) { 
	.imob-destLocacao h4{		
		font-size: 1.2em;
	}
}

@media screen and (max-width:428px) { 
	.imob-destLocacao h4{		
		font-size: 1em;
	}
}

.imob-busca-todos{
	border-radius: 8px;
	border: 2px solid #727376;
	margin-top: 20px;
	margin-bottom: 5px;
	color: #727376;
	border: inherit;
}

.imob-busca-todos h4{	
	font-family: "Calibri Bold Italic";
	font-size: 1.6em;	
}

@media screen and (min-width:1200px) { 
	.imob-busca-todos{		
		padding-right: 50px;
	}
}

.imob-busca-todos a{
	text-decoration: none;
	color: inherit;
}


.carousel-imovel-destaque{
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 8px;
}

.imob-left{	
	margin-top: 100px;
}

.imob-left-mobile{	
	margin: 10px;
	margin-left: 75%;
}

@media screen and (max-width:767px) { 
	.imob-left-mobile{		
		margin-left: 50%;
	}
}

.imob-right{
	margin-left: 5px;
	margin-top: 100px;	
}

.imob-right-mobile{	
	margin: 10px;
	margin-left: 10%;
}

@media screen and (max-width:767px) { 
	.imob-right-mobile{		
		margin-left: 20%;
	}
}

@media screen and (min-width:992px) and (max-width:1199px) { 
	.carousel-imovel-destaque{		
		width: 100%;
	}
}

@media (min-width: 992px ) {
	.carousel-inner .active.left {
		left: -25%;
	}
	.carousel-inner .next {
		left:  25%;
	}
	.carousel-inner .prev {
		left: -25%;
	}
}

@media (min-width: 768px) and (max-width: 991px ) {
	.carousel-inner .active.left {
		left: -33.3%;
	}
	.carousel-inner .next {
		left:  33.3%;
	}
	.carousel-inner .prev {
		left: -33.3%;
	}
	.active > div:first-child {
		display:block;
	}
	.active > div:first-child + div {
		display:block;
	}
	.active > div:last-child {
		display:none;
	}
}

@media (max-width: 767px) {
	.carousel-inner .active.left {
		left: -100%;
	}
	.carousel-inner .next {
		left:  100%;
	}
	.carousel-inner .prev {
		left: -100%;
	}
	.active > div {
		display:none;
	}
	.active > div:first-child {
		display:block;
	}
}

.thumbnail{
	padding: 0;
	border: 0;
}

.imob-thumb{	
	padding: 0 3px;
}

.imob-thumbnail{
	background-color: #E6E7E8;
	padding: 0;
}

.imob-bairro{
	margin: 8px;
	border-bottom: 1px solid #606062;
	text-transform: uppercase;
	font-size: 1.5em;
	color: #373435;	
}

.imob-thumbnail p{
	margin-top: 5px;
	font-size: 0.9em;
	padding: 0 4px;
}

.imob-thumbnail p img{
	margin: 0 auto;
}

.imob-tipo-imovel{
	background-color: #931913;
	text-transform: uppercase;
	margin: 5px 0 10px 0;
	font-size: 1.4em;
	padding: 5px 0;
	color: #fff;
}

.imob-tipo-imovel-venda{
	background-color: #931913;
	text-transform: uppercase;
	margin: 5px 0 10px 0;
	font-size: 1.1em;
	padding: 5px 0;
	color: #fff;
}

.imob-rs-destaques a{
	color: #848688;
	border: 1px solid #848688;
	border-radius: 3px;
	padding: 5px;
}

.imob-rs-destaques a:hover{
	color: #4B4B4D;
	border-color: #4B4B4D;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.imob-section-areacli{
	background: url(../images/background.jpg);
	padding-top: 50px;
	border-bottom: 4px solid #96989A;
}

.imob-section-areacli img{	
	max-width: 600px;
}

@media screen and (max-width:767px) { 
	.imob-section-areacli img{			
		margin-bottom: 10px;
		max-width: 440px;			
	}
}

.imob-section-areacli h3{
	font-family: "SegoePrint"; 
	color: #606062;
	margin-bottom: 30px;
	margin-top: 0;
}

@media screen and (max-width:768px) { 
	.imob-section-areacli h3{		
		font-size: 1.2em;
		margin-bottom: 10px;			
	}
}

.imob-section-areacli input{
	height: 42px;
	max-width: 339px;
}

.imob-btn-areacli{
	background-color: #931913;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	margin-bottom: 20px;
}

.imob-btn-areacli:hover{	
	background-color: #692B2C;
	color: #fff;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.icon-areacliente{
	font-family:"SegoePrint";
}
.icon-areacliente .fa{
	font-size: 1.1em;
	margin-right: 10px;
}


.imob-section-redes-sociais{
	padding-top: 60px;
	padding-bottom: 50px;	
}


@media screen and (min-width:1200px) { 
	.imob-row-footer{
		padding-left: 30px;
		padding-right: 50px;
	}
}

.imob-navbar-footer{
	background-color: #EFEAE8;	
}

.ul-navbar-footer{
	padding-left: 0;
}

.ul-navbar-footer ul li a{
	padding-top: 20px;
	padding-right: 10px;	
}

.imob-navbar-footer ul li a img{
	margin-top: -10px;
	width: 85px;	
}

.imob-news{
	margin-top: 10px;
}

.imob-news span{
	background-color: #931913;
	border-color: #931913;
}

.imob-news span a{
	color: #fff;
}

.imob-news span:hover{
	background-color: #692B2C;
	border-color: #692B2C;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.imob-news input,
.imob-news span{
	height: 43px;
	border-radius: inherit;	
}

.imob-footer{
	background-color: #4B4B4D;
	color: #fff;
	font-family: "Calibri";
	font-size: 1.2em;
	padding-top: 40px;
	padding-bottom: 20px;	
}

.whats-footer{
	font-size: 1.2em;
	margin-bottom: 0;
}

.phone-footer{
	font-size: 1.5em;
	margin-bottom: 0;	
}

.email-footer{
	font-size: 0.9em;
}

.mapa-footer a{		
	font-size: 0.7em;
	display: block;
	width: 100px;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 8px 0;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}

.mapa-footer a:hover{
	color: #96989A;
	border-color: #96989A;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}


/* ---------- DETALHES DO IMOVEL----------- */

.imob-navbar-det-imovel li a{
	color: #fff !important;
	font-size: 1.6em;
}

.imob-navbar-det-contato li{
	margin-left: 15px;
}

.imob-navbar-det-contato{
	color: #fff;
	font-size: 1.6em;	
}

.nav-det-whats{
	margin-top: 6px;
}

.nav-det-phone{
	font-size: 1.6em;	
	font-family: "Calibri";
}

.breadcrumb{
	background-color: inherit;	
}

.breadcrumb li a{
	color: #4B4B4D;
}

.imob-btn-facebook-det{
	background-color: transparent;
	color: #4B4B4D;
	border-color: #4B4B4D;
}

.imob-btn-facebook-det{
	background-color: transparent;
	color: #4B4B4D;
	border-color: #4B4B4D;
}

.imob-btn-facebook-det:hover{
	background-color: #4B4B4D;
	color: #fff;	
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

@media screen and (max-width:767px){ 
	.imob-text-titulos{
		text-align: left;		
	}
	.imob-text-titulos h4{
		font-size: 1.2em;
	}	
}

.imob-tit-caracteristicas{
	overflow: auto;	
}

@media screen and (min-width:768px) and (max-width:991px) { 
	.imob-tit-caracteristicas{
		height: 413px;		 
	}
	.imob-btn-caractere{
		margin-left: 15%;
	}
}

@media screen and (min-width:992px) and (max-width:1199px) { 
	.imob-tit-caracteristicas{
		height: 470px;
	}
	.imob-btn-caractere{
		margin-left: 22%;
	}
}

@media screen and (min-width:1200px) { 
	.imob-tit-caracteristicas{
		height: auto;
	}
	.imob-btn-caractere{
		margin-left: 25%;
	}
}

.imob-tit-caracteristicas{
	border: 1px solid #4B4B4D;	
}

.imob-tit-caracteristicas p{
	font-size: 1.2em;
	text-align: center;
	background-color: #4B4B4D;
	color: #fff;
	padding: 10px;	
}

.imob-tit-caracteristicas ul{
	padding-left: 10%;
}

.imob-tit-caracteristicas ul li{
	list-style: none;
	margin-bottom: 4px;
}

.imob-tit-caracteristicas ul li strong{
	color: #931913;
}

.imob-btn-caractere{	
	margin-top: 5px;
	color: #8F8F8F;
	cursor: pointer;
}

.imob-btn-caractere:hover{
	background-color: #4B4B4D;
	color: #fff;	
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.icon-estabelecimento{
	height: 29px;
}

@media screen and (min-width: 768px) and (max-width: 991px){
	.icon-estabelecimento{
	height: 26px;
}
}

.imob-descricao{
	margin-top: 10px;
	margin-bottom: 25px;
}

.imob-descricao h1{
	font-size: 1.7em;
}

.imob-loc-mapa-tit h1{	
	font-size: 1.7em;
	font-family: "Calibri";
	margin-top: 40px;
	margin-bottom: 20px;	
}

.imob-list-estabelecimento ul{
	background-color: #4B4B4D;
	color: #fff;	
}

.imob-list-estabelecimento ul li{
	display: inline-block;
	text-align: center;
	padding: 15px 25px;
	font-size: 1em;
	font-family: "Calibri";
}

.imob-list-estabelecimento ul li i{
	font-size: 2em;
}

@media screen and (max-width:1199px) { 
	.imob-list-estabelecimento ul li{
		padding: 15px;
	}	
}

@media screen and (max-width:991px) { 
	.imob-list-estabelecimento ul li{
		padding: 8px;
		font-size: 0.9em;
	}	
}

.imob-agenda-tit h1{
	font-size: 1.7em;
}


@media screen and (min-width:320px) { 
	.imob-textarea-agenda{
		height: 84px !important;
	}	
}

@media screen and (max-width:767px) { 
	.imob-contato-agenda{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}	
}

.imob-btn-agendar{
	margin-top: 15px;
	background-color: #931913;
	color: #fff;
}

.imob-btn-agendar:hover{	
	background-color: #692B2C;
	color: #fff;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.imob-btn-collapse{
	cursor: pointer;
}

#imob-collapse{
	font-family: "Calibri";
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #4B4B4D;
}

#imob-collapse h4{
	color: #fff;
}

.thumbnaul-result-busca{
	background-color: transparent;
	padding: 15px;	
}

.imob-result-busc{
	background-color: #fff;
	padding-top: 15px;
	padding-bottom: 10px;
	margin-bottom: 10px;	
}

.imob-pagination{
	margin-top: 30px;
	margin-bottom: 30px;
}

.imob-pagination ul li a{
	color: #4B4B4D;
}

.imob-pagination ul li a:hover{
	color: #fff;
	background-color: #931913;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.imob-pagina-internas{
	padding-bottom: 70px;
}

.imob-pagina-internas p{
	font-size: 1.1em;
	text-align: justify;
}