@font-face {
    font-family: 'SegoePrint';
    src: url('../fonts/SegoePrint.eot');
    src: url('../fonts/SegoePrint.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SegoePrint.woff2') format('woff2'),
         url('../fonts/SegoePrint.woff') format('woff'),
         url('../fonts/SegoePrint.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gothic';
    src: url('../fonts/gothic.eot');
    src: url('../fonts/gothic.eot?#iefix') format('embedded-opentype'),       
         url('../fonts/gothic.woff') format('woff'),
         url('../fonts/gothic.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.eot');
    src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),       
         url('../fonts/Calibri.woff') format('woff'),
         url('../fonts/Calibri.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri Bold Italic';
    src: url('../fonts/Calibri Bold Italic.eot');
    src: url('../fonts/Calibri Bold Italic.eot?#iefix') format('embedded-opentype'),       
         url('../fonts/Calibri Bold Italic.woff') format('woff'),
         url('../fonts/Calibri Bold Italic.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}