#cmdFormGMaps{display:block;height:330px;border:4px solid #ffffff;position:relative;overflow:hidden;z-index:1000;margin-top:-10px}
	.boxInfoWindow{
		width:auto;height:137px;margin:0 0 0 15px;padding:20px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		text-transform:capitalize;
		color:#000;
	}
	.boxInfoWindow img{vertical-align:middle;}
	.boxInfoWindow .imgImovel{float:left;}

	#ProgressBar{ width:250px; height:23px; background-color:#FFFFFF;border:1px solid #009933; position:absolute; margin:15px 0px 0px 75px;z-index:10;display:none; overflow:hidden; }
	#ProgressBar #txtInfo{position:absolute;font-size:11px; font-family:Arial, Helvetica, sans-serif; text-align:center; width:250px; padding-top:5px; z-index:25452174; }
	#ProgressBar #barinfo{ position:relative;width:250px; height:23px;background-color:#009933; width:0%;overflow:hidden; z-index:25452184;}
	#ProgressBar #txtBarInfo{ position:absolute; font-size:11px; font-family:Arial, Helvetica, sans-serif; color:#000; text-align:center; width:250px; padding-top:5px; }
	#ProgressBar #loaderData{font-size:11px; font-family:Arial, Helvetica, sans-serif; display:none;}
	
	#buscaMap{
	 
	
	}
  