.multiselect-container{
position:absolute;
list-style-type:none;
margin:0;
padding:0
}

.multiselect-container .input-group{
	margin:5;cursor:
}

.multiselect-container>li{
	padding:0;
}

.multiselect-container>li>a{
	padding:0;	
}

.multiselect-container>li>a>label{
	margin:0;
	height:100%;	
	font-weight:400;
	padding:3px 20px 3px 40px
}

.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{
	margin:0
}

.multiselect-container>li>a>label>input[type=checkbox]{
	margin-bottom:5px;
}

.btn-group>.btn-group:nth-child(2)>.multiselect.btn{	
	border-top-left-radius:4px; 
	border-bottom-left-radius:4px
}

.form-inline .multiselect-container label.checkbox,
.form-inline .multiselect-container label.radio{
	padding:3px 20px 3px 40px
}

.form-inline .multiselect-container li a label.checkbox input[type=checkbox],
.form-inline .multiselect-container li a label.radio input[type=radio]{
	margin-left:-20px;
	margin-right:0
}

.multiselect{	
	height: 34px;
	text-align: left;
}

.multiselect-container{
	width: 100%;
}

.multiselect-container > .active > a{
	background-color: #931913;
}

.multiselect-container > .active > a:focus,
.multiselect-container > .active > a:hover{
	background-color: #692B2C;
}

.imob-btn-multselect:hover,
.imob-btn-multselect:focus{
	background-color: #fff !important;
	border-color: #ccc;
	color: #777;	
}

.imob-caret{
	margin-right: -6px;
	margin-top: 8px;
	float: right;
}
