
.thumbnails-carousel{
	padding: 4px;
	background-color: #4B4B4D;
}

.thumbnails-carousel ul {	
	padding: 0px;
	margin: 0;
	list-style-type: none;
	text-align: center;
}

.thumbnails-carousel ul li {
	padding: 2px;	
	cursor: pointer;
	margin: 0;
}

.active-thumbnail {		
	border: 1px solid #fff;	
}
