/* Header */
.header{
	padding: 30px 0;
	.nav-content{
		display: flex;
		justify-content: space-between;	
		.nav{		
			max-height: 75px;		
			margin: 30px 15px;			
		}
		.nav-item{
			align-self: center;
			border-left: 2px solid $gray-lightest;
			padding-right: 8px;
			padding-left: 8px;	
			&:first-child{
				border-left: 0;
			}	
		}	
		.nav-link{
			padding: 1em;
			color: $gray-dark;
			text-transform: uppercase;
			border-bottom: 5px solid transparent;		
			&:hover{
				@include transicao(.4s);
				border-bottom: 5px solid lighten($brand-secondary, 20%);
			}		
		}
		.active{
			border-bottom: 5px solid $brand-secondary;
			&:hover{
				border-bottom: 5px solid $brand-secondary;
			}
		}							
	}
	@include media-breakpoint-down(md){
		.nav-content{
			.nav{
				display: none;
			}
			.header-areacleinte{
				margin-top: -20px;
				margin-right: -15px;
			}
		}
	}
	@include media-breakpoint-down(xs){
		.nav-content{
			justify-content: center;
		}
	}
}

@include media-breakpoint-down(md){
	.header{
		margin-top: 46px;
	}
}
@include media-breakpoint-down(xs){
	.header{
		margin-top: 36px;
	}
}

