/* Header topo */
.topo{
	background-color: #000;
	font-size: 1.05rem;
	color: #fff;
	.topo-itens {			
		display: flex;
		justify-content: space-between;	
		align-items: center;
		.contato{
			p{
				@include align-center;
				.offcanvas{					
					.js-open-menu{
						margin-right: 30px;
						.fa{
							margin: 0;
						}
					}					
				}		
			}			
			.fa{
				color: $brand-secondary;
				font-size: 2rem;
				margin-left: 30px;			
				margin-right: 7px;
				&:nth-child(2){
					margin-left: 0;
				}
			}						
		}
		.areacliente{	
			border-left: 7px solid $brand-secondary;		
			a{
				@include align-center;
				color: #fff;
				text-transform: uppercase;
				text-decoration: none;
				padding: 7px;
				cursor: pointer;
			}
			.fa{
				font-size: 2rem;
				margin: 0 10px;			
			}
		}
	}
	@include media-breakpoint-down(xs){
		.topo-itens{
			.contato .fa{
				font-size: 1.4rem;								
			}
			.areacliente{
				border-left: 4px solid $brand-secondary;
				.fa{
					font-size: 1.4rem;
				}
			}
		}
	}
}

@include media-breakpoint-down(md){
	.topo{
		position: fixed;
		top: 0;
		z-index: 1000;
		width: 100%;
	}
}
