.menu-responsivo{
	position: fixed;	
	width: 70%;
	max-width: 200px;
	height: 100%;
	top: 0;
	left: -80%;
	z-index: 1001;
	transition: left .3s;
	background-color: $brand-primary;
	.head-menu{
		width: 100%;	
		background-color: $brand-secondary;
		padding: 10px 25px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.nav{
		flex-direction: column;		
		.nav-item{
			padding: .3em .1em;
		}
		.nav-link{
			font-size: 1.18rem;
			color: $white;
			display: flex;
			flex-direction: column;
			
			&:hover{
				color: $brand-secondary;	
			}
		}		
	}
}
.open-menu{
	&:after{
		content: '';
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,.6);
		z-index: 1000;
	}
	.menu-responsivo{
		left: 0;
	}
}
