.footer{
	background-image: url(../images/img-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 0;
	.contato{		
		color: $white;		
		.nav{
			display: block;
			font-size: 1.3rem;
			margin-top: 50px;
			.nav-item{
				margin-bottom: 15px;
				.endereco{
					text-transform: uppercase;
				}
				.fa{
					color: $color-footer;
					margin-right: 15px;
				}
			}			
		}
		@include media-breakpoint-down(lg){
			.nav{
				font-size: 1.1rem;
			}
		}		
	}		
	.localizacao{
		.nav{		
			max-height: 75px; 		
		}
		.nav-item{
			align-self: center;
			border-left: 2px solid $gray;
			padding-right: 8px;
			padding-left: 8px;	
			&:first-child{
				border-left: 0;
			}	
		}	
		.nav-link{
			font-size: .9rem; 
			padding: 1em;
			color: $color-footer;
			text-transform: uppercase;
			border-bottom: 5px solid transparent;
			&:hover{
				@include transicao(.4s);
				border-bottom: 5px solid lighten($gray, 5%);
			}			
		}
		.active{
			border-bottom: 5px solid $color-footer;
			&:hover{
				border-bottom: 5px solid $color-footer;
			}
		}
		.mapa-localizacao{
			width: 100%;			
			position: absolute;
			bottom: 0;
			padding-right: 15px;
		}		
	}
	.redes-sociais{
		margin-top: 50px;
		color: $white;
		.headline{
			font-size: .9rem;
			display: block;
			text-align: center;
		}
		.icones{
			display: flex;
			justify-content: center;
			border-bottom: 2px solid $color-footer;
			.nav{
				.nav-item{
					.nav-link{
						color: $white;
						font-size: 1.8rem;
						padding: 0.1em .3em;
						margin-right: 5px;
						margin-bottom: 20px;					
						&:hover{
							@include transicao(.4s);
							color: $color-footer;
						}
					} 
				}
			} 			
		}	
	}
	.bottom-footer{
		text-align: center;
		color: $white;
		font-size: .9rem;
		margin-top: 15px;
	}

	@include media-breakpoint-down(md){
		.localizacao{
			display: none;
		}
	}
}
