.newsletter{
	background-color: $color-footer;
	padding: 15px 0;	
	.block-newsletter{
		display: flex;
		flex-direction: column;
		align-items: center;		
		.headline{
			text-transform: uppercase;
			font-size: .9rem;
			color: $white;
		}
		.form-inline .form-control{
			width: 360px;
			border: none;
			text-transform: lowercase;
			font-size: 1rem;						
		}
		.form-inline .btn{
			background-color: $gray-dark;
			border: none;		
			.fa{
				font-size: 2rem;
			}
		}
		@include media-breakpoint-down(xs){
			.headline{
				text-align: center;
			}
			.form-inline .form-control{
				width: 190px;
			}
		}
	}		
}