.section-venda{
	.busca-venda{
		@include resultado-busca($brand-secondary);
		.imoveis .card .card-block .valor{
			font-size: 1.4rem
		}
		background-color: lighten($brand-secondary, 33%);
	}
}