.section-contato{
	padding-bottom: 40px;
	.nossos-contatos{
		padding: 20px 0;
		background-color: lighten($brand-primary, 45%); 
		.header-contato{
			.headline{
				@include headline();
				padding: 15px;
				font-size: 1.3rem;
				border-left: 10px solid $brand-primary;
			}
		}
		.text{
			margin-top: 15px;
			color: $gray-light;
			font-size: .9rem;
			line-height: 1.2;	
		}
		.nav{
			@extend .text;
			flex-direction: column;
			.nav-item{
				margin-bottom: 10px;
			}
		}
		.coluna{
			@include make-col(6);
			padding: 0 15px;
			.form-group{		
				.textarea-custom{
					height: 116px !important;					
				}
				.btn{			
					font-size: 1.1rem;					
				}
			} 			
		}
		@include media-breakpoint-down(sm){
			.coluna{
				@include make-col(12);
			}
		}
		.btn-custom{
			padding: 0 15px;
			justify-content: flex-end;
		}
	}

	.localizacao{
		padding: 40px 0;
		.headline{
			@include headline();
			padding: 15px;
			font-size: 1.3rem;
			border-left: 10px solid $brand-primary;
		}
	}	
}