.empresa{	
	background-color: lighten($brand-secondary, 33%); 
	.headline{
		@include headline();
		padding: 15px;
		font-size: 1.3rem;
		border-left: 10px solid $brand-primary;
	}
	.text{
		margin-top: 15px;
		color: $gray-light;
		font-size: .9rem;
		line-height: 1.2;	
	}
}