// Mixin Custom
@mixin transicao($valor){
	transition: $valor;	
}

@mixin headline(){
	text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;   
}

@mixin align-center(){
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

@mixin input-custom(){
	border-radius: 0;
	width: 100%;
	height: 50px !important;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	font-size: .8rem;	
}

@mixin border-custom($cor, $percentual){
	width: 100%;
	position: relative;	
	overflow: hidden;
	display: flex;
	justify-content: center;
	background-color: lighten($cor, $percentual);	
}

@mixin border-top($cor, $percentual){
	@include border-custom($cor, $percentual);
	.border-top-right{	
  	border-top:75px solid white;  	
  	border-right: 2000px solid transparent;
	}
} 

@mixin border-bottom($cor, $percentual){
	@include border-custom($cor, $percentual);
	.border-bottom-right{	
  	border-bottom:75px solid white;  	
  	border-left: 2000px solid transparent;
	}
} 

@mixin card($cor){
	.card{	
		margin-top: 30px;	
		margin-left: 5px;
		margin-right: 5px;	
		.card-block{
			text-align: center;	
			padding-top: 0;			
			background-color: $white;
			z-index: 3;
			.card-title{			
			background-color: $cor;
			display: table;
			padding: 8px 20px;
			color: $white;
			text-transform: uppercase;
			font-size: 1.198rem;
			font-weight: 600;			
			margin: -20px auto 10px auto;				
			}		
			.endereco{
				font-weight: 700;
				font-size: .8rem;
				color: $gray-dark;
				display: inline-block;
				margin-bottom: 5px;
			}
			.text-destaque{
				color: $gray-lighter;
				font-size: .97rem;
			}
			.valor{
				color: $brand-primary;
				font-weight: 700;
				font-size: 1.9rem;
				display: inline-block;
				margin-top: 8px;
			}			
		}		
		.card-footer{
			display: flex;
			flex-direction: row;
			justify-content: space-between;	
			font-size: .8rem;
			background-color: #dcdcdc;		
		}
		.fa{
			display: block;
			text-align: center;
			font-size: 1.1rem;
		}
		.nav{
			position: absolute;
			align-self: center;		
			z-index: 10;
			margin-top: 40px;
			opacity: 0;
			.nav-link{
				background-color: $brand-primary;
				color: $white;
				padding: 20px;
				width: 65px;
				margin-right: 2px;
				.fa{
					font-size: 1.5rem;					
				}
				&:hover{
					@include transicao(.3s);
					background-color: $brand-secondary;
				}				
			}			
		}
		@include media-breakpoint-down(md){
			.nav{
				align-self: flex-start;
				margin-top: 0;
				opacity: inherit;
				.nav-link{
					padding: 0.5em 1em;
					width: 50px;
					margin-right: 0;
				}
			}
		}
		&:hover{	
			background-color: $black;			
			.nav{
				opacity: inherit;					
			}
			.card-img-top{				
				opacity: .5;
				@include transicao(.3s);			
			}					
		}
	}
}

// Mixin Carousel destaque de aluguel e venda
@mixin carousel-imoveis-destaques($cor){
	padding: 40px 0;
	.header{
		@include align-center;
		justify-content: center;
		padding: 0;
		.busca{
			@include align-center;
			.headline{
				@include titulo;
				border-left: 10px solid $cor;
				padding: 10px; 
				.mark{
					color: $cor;
					background-color: transparent;
					font-size: 1.9rem;
				}
			}
			.form-control{
				width: 400px;
				margin-left: 15px;
			}
			@include media-breakpoint-down(md){
				.form-control{
					width: 270px;
				}
			}
			.form-group{
				margin-bottom: 0;
				.btn{
					font-family: 'Poppins', sans-serif;
					font-size: 1rem;
					padding-top: 15px;
					cursor: pointer;
				}				
			}
			@include media-breakpoint-down(xs){
				.headline{
					font-size: 1rem;
					.mark{
						font-size: 2rem;
					}
				}
				.form-control, .form-group{
					display: none;
				}
			}
		}						
	}
	.carousel-inner{
		width: 84%;
		margin: 0 auto;	
	}
	.carousel-item{	
		justify-content: center;		
	}
	.control-custom{
		width: inherit;	
		color: $gray-dark;
		font-size: 3rem;		
	}		
	@include card($cor);

	@include media-breakpoint-down(lg){
		.header{
			margin: 0 80px;
		}
	}
	@include movie-carousel();
	
}

@mixin titulo(){	
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 0;
}


@mixin movie-carousel(){
	@include media-breakpoint-only(md){

		.carousel-inner .active.left {
			left: -33.3%;
		}
		.carousel-inner .next {
			left:  33.3%;
		}
		.carousel-inner .prev {
			left: -33.3%;
		}
		.active > div:first-child {
			display:block;
		}
		.active > div:first-child + div {
			display:block;
		}
		.active > div:last-child {
			display:none;
		}					
	}

	@include media-breakpoint-down(md){
		.carousel-inner .active.left {
			left: -100%;
		}
		.carousel-inner .next {
			left:  100%;
		}
		.carousel-inner .prev {
			left: -100%;
		}
		.active > div {
			display:none;
		}
		.active > div:first-child {
			display:block;
		}
	}
}

@mixin modal(){	
	.modal-content{
		background-color: $brand-primary;
		color: $white;
		border-radius: 0;
		.modal-header{
			background-color: $brand-secondary;
			.modal-title{
				font-size: 1.3rem;
				font-weight: 600;
				text-transform: uppercase;
			}
		}
		.modal-body{
			border-radius: 0;			
		}
	}
}

@mixin resultado-busca($cor){
	padding: 30px 0;
	background-color: lighten($cor, 45%); 		
	.headline{
		@include headline();
		padding-left: 0;
		border-left: 10px solid $cor;
		padding: 10px;
		margin-bottom: 30px;
		.mark{
			background-color: transparent;
			color: $cor;
			font-size: 1.6rem;
		}
	}
	.icones{
		margin-right: 9px;
		.nav{
			justify-content: flex-end;
			padding: 10px 0;
			.nav-item{
				background-color: $brand-primary;
				margin-left: 2px;
			}
			.nav-link{
				color: $white;	
				&:hover{
					@include transicao(.3s);
					background-color: $brand-secondary;
				}				
			}
		}
		@include media-breakpoint-down(xs){
			.nav{
				margin-bottom: 15px;
			}
		}
	}
	.busca{
		@include make-col(3);		
		padding: 0;
		.form{
			background-color: $brand-primary;
			padding: 15px;
			.btn{
				font-size: 1.2rem;
			}
		}
	}
	@include media-breakpoint-down(sm){
		.busca{
			display: none;
		}
	}
	.imoveis{				
		@include make-col(9);
		@include card($brand-primary);
		.item-card{
			@include make-col(4);
			display: inline-block;
			.card{
				margin-top: 0;
				margin-bottom: 30px;
				.card-block .endereco{
					margin-top: 10px;
				}
			}
		}			
	}
	@include media-breakpoint-down(md){
		.imoveis .item-card{
			@include make-col(6);
		}
	}
	@include media-breakpoint-down(sm){
		.imoveis{
			@include make-col(12);
			display: table;
			text-align: center;
		}
	}
	@include media-breakpoint-down(xs){
		.headline{
			font-size: 1.3rem;
			margin-bottom: 0;
		}
		.imoveis .item-card{
			@include make-col(12);			
		}
	}
}
.paginacao{
	padding: 40px 0;
	display: flex;
	justify-content: center;
	.navigation{
		align-self: center;
		.pagination{
			margin-bottom: 0;				
			.page-item{
				.active{
					background-color: $brand-secondary;
					border: 1px solid $brand-secondary;
					color: $white
				}
				.page-link{
					border-radius: 0;	
					padding: 10px;
					font-weight: 600;						
					&:hover{
						@extend .active;
					}
				}					
			}
		}
	}		
}


@mixin detalhes-imovel(){	
	.dados-imovel{	
			padding: 30px 0 40px;
			background-color: lighten($brand-primary, 45%); 	
		.endereco{
			@include make-col(8);
			font-weight: 600;
			.logradouro{
				font-size: 1.3rem;
				color: $brand-primary;
				margin-bottom: 0;	
			}
			.localidade{
				color: $brand-primary;
			}
		}
		.valor{
			text-align: right;
			.parcela{
				font-size: 1.2rem;
				font-weight: 600;
				margin-bottom: 0;
			}
			.mark{
				font-weight: 700;
				font-size: 1.9rem;
				margin-bottom: 0;
				background-color: transparent;
				color: $brand-primary;
			}
			.icones{
				.nav{
					justify-content: flex-end;
					margin-top: 10px;
					.nav-item{
						background-color: $brand-primary;
						margin-left: 2px;
					}
					.nav-link{
						color: $white;	
						&:hover{
							@include transicao(.3s);
							background-color: $brand-secondary;
						}				
					}
				}
			}
		}			
		.contato{
			padding-top: 15px;
			margin-left: 15px;
			color: $white;
			@include make-col(4);
			background-color: $brand-primary;
			.headline{
				@include headline();
				font-weight: 600;
				margin-bottom: 15px;
				text-transform: inherit;
			}
			.textarea-custom{
				height: 65px !important;
			}
			.btn{
				font-size: 1.2rem;
			}
		}	

		@include media-breakpoint-down(md){
			.valor{
				.mark{
					display: inline-block;	
								
				}
				.icones .nav{
					margin-bottom: 10px;
				}
			} 
			.contato .headline{
				font-size: 1.2rem;
			}
		}
		@include media-breakpoint-down(sm){
			.endereco{
				@include make-col(12);
			}
		}	
		@include media-breakpoint-down(xs){
			.contato{
				@include make-col(12);
				margin: 0;
			}
			.slide{
				padding: 5px;
			}			
		}
	}
	.descricao-localizacao{
		padding: 40px 0 80px;
		.descricao{
			@include make-col(7);		
			.headline{
				@include headline();
				padding:15px;
				font-size: 1.3rem;
				border-left: 10px solid $brand-primary;
			}
			.text{
				font-family: 'Poppins', sans-serif;
				font-size: .9rem;
				color: $gray-light;
				text-align: justify;
			}
		}
		.caracteristicas{
			margin-top: 30px;
			display: flex;
			justify-content: flex-end;
			@include make-col(5);
			.icones{
				display: flex;
				justify-content: flex-end;
				.nav{
					width: 100%;
					justify-content: space-between;
					align-self: center;
				}
				.nav-item{
					font-family: 'Poppins', sans-serif;
					text-align: center;
					.fa{						
						display: block;				
						font-size: 1.5rem;
						border-radius: 50%;
						padding: 15px;
						width: 55px;
						margin: 0 auto;
						background-color: $brand-secondary;
						color: $white;
					}
				}
			}
		}
		.localizacao{
			padding-top: 15px;
			.headline{
				@include headline();
				padding: 15px;
				font-size: 1.3rem;
				border-left: 10px solid $brand-primary;
			}
			.mapa-localizacao{
				margin-top: 15px;	
			}
		}

		@include media-breakpoint-down(xs){
			.descricao, .caracteristicas{
				@include make-col(12);		
			}	
			.caracteristicas{
				@include make-col(12);
				font-size: .8rem;
				margin-top: 0;					
			}				
		}
	}
}