/* Modal contato */
.contatos{
	@include modal();
	.text{
		font-size: 1.2rem;
		text-align: center;
		.fa{
			display: block;
			font-size: 4rem;
		}
	}
}

/* Modal area cliente */
.area-cliente{
	@include modal();
	.modal-body{
		.icon{
			font-size: 6rem;
			display: block;
			text-align: center;
		}
		.btn{
			border-radius: 0;
			text-transform: uppercase;
		}
	}
}

/* Modal cadastro de imovel */
.cadastro-imovel{
	@include modal();
	.modal-body{
		.col{
			@include make-col(6);
		}		
		.text{
			@include make-col(12);
			.textarea-custom{
				height: 100px !important;
			}
		}
		.btn{
			border-radius: 0;
			text-transform: uppercase;
		}
		@include media-breakpoint-down(xs){
			.col{
				@include make-col(12);
			}
		}
	}
}

/* Modal de busca avancada */
.busca-avancada{
	@extend .cadastro-imovel;
	.modal-body{
		.col-3{
			@include make-col(3);
		}
		@include media-breakpoint-down(xs){
			.col-3{
				@include make-col(6);
			}
		}
	}	
}

/* Modal enviar para um amigo */
.enviar-para-amigo{
	@extend .area-cliente;
	
		
}