@import "../components/bootstrap/scss/bootstrap";
@import "../components/components-font-awesome/scss/font-awesome";
@import "../components/wow/css/libs/animate";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700";
@import "https://fonts.googleapis.com/css?family=Poppins:400,600,700";

/* Mixin Custom */
@import "mixin-custom";

/* Header */
@import "header";

/* Home */
@import "home";

/* Destalhes do Imovel */
@import "detalhes-imovel-aluguel";

/* Destalhes do Imovel */
@import "detalhes-imovel-venda";

/* Busca de Locacao */
@import "busca-locacao";

/* Busca de Venda */
@import "busca-venda";

/* Contato */
@import "contato";

/* Imobiliaria */
@import "imobiliaria";

/* Footer */
@import "footer";

/* Modal Custom */
@import "modal-custom";

/* Custom */
.input-custom{
	@include input-custom();
	.fa{
		margin-right: 5px;
	}
}









